* {
  box-sizing: border-box !important;
}
.Switch,
.Switch *,
.Switch *:after,
.Switch *:before {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* Default */
.Switch_Default {
  position: relative;
  width: 64px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.Switch_Default .SwitchLine {
  position: absolute;
  width: 60px;
  height: 4px;
  left: 2px;
  top: 14px;
  z-index: 1;
  background-color: #dadada;
}
.Switch_Default .SwitchButton {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #dadada;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 32px;
}
.Switch_Default.Disabled {
  opacity: 0.4;
}
.Switch_Default.Disabled .SwitchButton {
  /*opacity:0.5;*/
}
.Switch_Default.On .SwitchLine {
  background-color: #00c0ff;
}
.Switch_Default.On .SwitchButton {
  left: 32px;
  border: 4px solid #00c0ff;
  background-color: #fff;
}
.Switch_Default.On.Disabled .SwitchLine {
  /*opacity:0.5;*/
}
/* DefaultMin */
.Switch_DefaultMin {
  position: relative;
  width: 48px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.Switch_DefaultMin .SwitchLine {
  position: absolute;
  width: 44px;
  height: 2px;
  left: 2px;
  top: 11px;
  z-index: 1;
  background-color: #dadada;
}
.Switch_DefaultMin .SwitchButton {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #dadada;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 24px;
}
.Switch_DefaultMin.Disabled {
  opacity: 0.4;
}
.Switch_DefaultMin.On .SwitchLine {
  background-color: #00c0ff;
}
.Switch_DefaultMin.On .SwitchButton {
  left: 24px;
  border: 2px solid #00c0ff;
  background-color: #fff;
}
/* Flat */
.Switch_Flat {
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #f5a5a6;
}
.Switch_Flat .SwitchLine:before {
  position: absolute;
  content: "OFF";
  color: #fff;
  left: 60px;
  top: 9px;
}
.Switch_Flat .SwitchLine:after {
  position: absolute;
  content: "ON";
  color: #fff;
  left: 15px;
  top: 9px;
}
.Switch_Flat .SwitchButton {
  position: absolute;
  width: 45px;
  height: 30px;
  left: 5px;
  top: 5px;
  z-index: 2;
  background-color: #fff;
}
.Switch_Flat .SwitchButton:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 16px;
  left: 15px;
  top: 7px;
  background-color: #f5a5a6;
}
.Switch_Flat .SwitchButton:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 16px;
  left: 26px;
  top: 7px;
  background-color: #f5a5a6;
}
.Switch_Flat.Disabled {
  opacity: 0.4;
}
.Switch_Flat.On {
  background-color: #a7cce9;
}
.Switch_Flat.On .SwitchButton {
  left: 50px;
}
.Switch_Flat.On .SwitchButton:after,
.Switch_Flat.On .SwitchButton:before {
  background-color: #a7cce9;
}
/* FlatRadius */
.Switch_FlatRadius {
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #f5a5a6;
  border-radius: 4px;
}
.Switch_FlatRadius .SwitchLine:before {
  position: absolute;
  content: "OFF";
  color: #fff;
  left: 60px;
  top: 9px;
}
.Switch_FlatRadius .SwitchLine:after {
  position: absolute;
  content: "ON";
  color: #fff;
  left: 15px;
  top: 9px;
}
.Switch_FlatRadius .SwitchButton {
  position: absolute;
  width: 45px;
  height: 30px;
  left: 5px;
  top: 5px;
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
}
.Switch_FlatRadius .SwitchButton:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 16px;
  left: 15px;
  top: 7px;
  background-color: #f5a5a6;
}
.Switch_FlatRadius .SwitchButton:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 16px;
  left: 26px;
  top: 7px;
  background-color: #f5a5a6;
}
.Switch_FlatRadius.Disabled {
  opacity: 0.4;
}
.Switch_FlatRadius.On {
  background-color: #a7cce9;
}
.Switch_FlatRadius.On .SwitchButton {
  left: 50px;
}
.Switch_FlatRadius.On .SwitchButton:after,
.Switch_FlatRadius.On .SwitchButton:before {
  background-color: #a7cce9;
}
/* FlatCircular */
.Switch_FlatCircular {
  position: relative;
  width: 65px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #f5a5a6;
  border-radius: 20px;
}
.Switch_FlatCircular .SwitchLine:before {
  position: absolute;
  content: "OFF";
  color: #fff;
  left: 37px;
  font-size: 12px;
  top: 7px;
}
.Switch_FlatCircular .SwitchLine:after {
  position: absolute;
  content: "ON";
  color: #fff;
  left: 9px;
  font-size: 12px;
  top: 7px;
}
.Switch_FlatCircular .SwitchButton {
  position: absolute;
  width: 36px;
  height: 36px;
  left: -3px;
  top: -3px;
  z-index: 2;
  background-color: #fff;
  border-radius: 45px;
  border: 2px solid #f5a5a6;
}
.Switch_FlatCircular.Disabled {
  opacity: 0.4;
}
.Switch_FlatCircular.On {
  background-color: #a7cce9;
}
.Switch_FlatCircular.On .SwitchButton {
  border: 2px solid #a7cce9;
  left: 32px;
}
.Switch_FlatCircular.On .SwitchButton:after,
.Switch_FlatCircular.On .SwitchButton:before {
  background-color: #a7cce9;
}
/* Green */
.Switch_Green {
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #b4aa9f;
  border-radius: 20px;
}
.Switch_Green .SwitchLine:before {
  position: absolute;
  content: "\f00d";
  color: #fff3e3;
  left: 62px;
  top: 8px;
  /*font-awesome*/
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 25px !important;
}
.Switch_Green .SwitchLine:after {
  position: absolute;
  content: "\f00c";
  color: #fff3e3;
  left: 15px;
  top: 8px;
  /*font-awesome*/
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 25px !important;
}
.Switch_Green .SwitchButton {
  position: absolute;
  width: 46px;
  height: 46px;
  left: -3px;
  top: -3px;
  z-index: 2;
  background-color: #fff3e3;
  border-radius: 45px;
  border: 3px solid #b4aa9f;
}
.Switch_Green.Disabled {
  opacity: 0.4;
}
.Switch_Green.On {
  background-color: #6ebf5f;
}
.Switch_Green.On .SwitchButton {
  border: 3px solid #6ebf5f;
  left: 57px;
}
.Switch_Green.On .SwitchButton:after,
.Switch_Green.On .SwitchButton:before {
  background-color: #a7cce9;
}
/* Icon */
.Switch_Icon {
  position: relative;
  width: 90px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  border: 6px solid #fff;
  margin: 0 38px;
}
.Switch_Icon .SwitchLine:before {
  position: absolute;
  content: "\f1e3";
  color: #1b5a95;
  left: 96px;
  top: 8px;
  /*font-awesome*/
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 25px !important;
}
.Switch_Icon .SwitchLine:after {
  position: absolute;
  content: "\f1db";
  color: #fff;
  left: -42px;
  top: 8px;
  /*font-awesome*/
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 25px !important;
}
.Switch_Icon .SwitchButton {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 6px;
  top: 6px;
  z-index: 2;
  background-color: #fff;
  border-radius: 26px;
}
.Switch_Icon.Disabled {
  opacity: 0.4;
}
.Switch_Icon.On .SwitchButton {
  left: 48px;
}
.Switch_Icon.On .SwitchLine:after {
  color: #1b5a95;
}
.Switch_Icon.On .SwitchLine:before {
  color: #fff;
}
/* Iphone */
.Switch_Iphone {
  position: relative;
  width: 50px;
  height: 30px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
.Switch_Iphone .SwitchButton {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.Switch_Iphone.Disabled {
  opacity: 0.4;
}
.Switch_Iphone.On {
  box-shadow: #64bd63 0 0 0 16px inset;
  border-color: #64bd63;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #64bd63;
}
.Switch_Iphone.On .SwitchButton {
  left: 20px;
  width: 28px;
  height: 28px;
}
/* Lcs */
.Switch_Lcs {
  position: relative;
  width: 73px;
  height: 28px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #b2b2b2;
  border-radius: 14px;
  overflow: hidden;
}
.Switch_Lcs .SwitchLine:before {
  position: absolute;
  content: "OFF";
  color: #fff;
  right: 10px;
  top: 4px;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.Switch_Lcs .SwitchLine:after {
  position: absolute;
  content: "ON";
  color: #fff;
  left: -70px;
  top: 4px;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.Switch_Lcs .SwitchButton {
  position: absolute;
  top: 3px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  left: 3px;
}
.Switch_Lcs.Disabled {
  opacity: 0.4;
}
.Switch_Lcs.On {
  background: #75b936;
  box-shadow: 0 0 2px #579022 inset;
}
.Switch_Lcs.On .SwitchButton {
  left: 48px;
}
.Switch_Lcs.On .SwitchLine:before {
  right: -70px;
}
.Switch_Lcs.On .SwitchLine:after {
  left: 10px;
}
/* LIKE */
.Switch_LIKE {
  position: relative;
  width: 67.5px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #f88c8c;
  border-radius: 20px;
  margin: 3px;
}
.Switch_LIKE .SwitchLine:before {
  position: absolute;
  content: "OFF";
  color: #fff;
  font-size: 12px;
  left: 40px;
  top: 6px;
}
.Switch_LIKE .SwitchLine:after {
  position: absolute;
  content: "ON";
  color: #fff;
  left: 9px;
  font-size: 12px;
  top: 6px;
}
.Switch_LIKE .SwitchButton {
  position: absolute;
  width: 37.5px;
  height: 37.5px;
  left: -3.75px;
  top: -3.75px;
  z-index: 2;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0 2px 5px rgba(248, 140, 140, 0.4);
}
.Switch_LIKE .SwitchButton:after {
  box-sizing: border-box !important;
  position: absolute;
  width: 11.25px;
  height: 11.25px;
  border: 2.25px solid #f88c8c;
  border-radius: 10px;
  content: "";
  display: inline-block;
  top: 13.125px;
  left: 13.125px;
  background-color: #fff;
}
.Switch_LIKE.Disabled {
  opacity: 0.4;
}
.Switch_LIKE.On {
  background-color: #69ddf1;
}
.Switch_LIKE.On .SwitchButton {
  box-shadow: 0 2px 5px rgba(105, 221, 241, 0.4);
  left: 33.75px;
}
.Switch_LIKE.On .SwitchButton:after {
  width: 0;
  height: 11.25px;
  border: 2.25px solid #69ddf1;
  left: 17.375px;
}
